html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: MyriadProRegular;
  src: url(../fonts/MyriadProRegular.otf); }
@font-face {
  font-family: HelveticaNeueLTPro-BdEx;
  src: url(../fonts/HelveticaNeueLTPro-BdEx.otf); }
@font-face {
  font-family: HelveticaNeueLTPro-ThEx;
  src: url(../fonts/HelveticaNeueLTPro-ThEx.otf); }
body {
  background-color: #ffffff;
  width: 675px;
  margin: 0 auto; }

#header {
  background: url("../images/header_bg.png") repeat-x;
  height: 80px; }

#logo {
  position: absolute;
  background: url("../images/logo.png") no-repeat;
  width: 200px;
  height: 25px;
  margin: 27px 35px; }

.primary-menu {
  height: 80px; }

.primary-menu ul li {
  display: table-cell;
  width: auto;
  text-align: center;
  list-style: none;
  padding: 0px 10px; }
  .primary-menu ul li a {
    font: 16pt MyriadProRegular;
    color: #093500; }
    .primary-menu ul li a:hover {
      color: #80a60f; }
    .primary-menu ul li a:active {
      color: #0388f9; }

.primary-menu ul li:last-child {
  padding-right: 35px; }

.primary-menu ul li a {
  display: table-cell;
  width: 675px;
  height: 80px;
  text-decoration: none;
  line-height: 80px; }

#wrapper1 {
  background: #eeeefb;
  height: 190px; }

#wrapper1_img {
  background: url("../images/flask.png");
  width: 256px;
  height: 190px;
  margin-left: 50px;
  float: left; }

#wrapper1 h1 {
  font: 22pt HelveticaNeueLTPro-ThEx;
  color: #093500;
  position: absolute;
  padding: 30px 25px 25px 270px;
  min-width: 300px; }

#wrapper1 h1 span {
  font: 22pt/22pt HelveticaNeueLTPro-BdEx;
  color: #093500; }

#content1 {
  padding-left: 320px;
  padding-right: 30px; }

#wrapper1 h3 {
  font: 10pt/10pt bold Tahoma;
  color: #80a60f;
  padding-top: 80px; }

#wrapper1 p {
  font: 7.5pt/7.5pt Tahoma;
  color: #093500;
  line-height: 140%;
  padding-top: 3px;
  padding-bottom: 15px; }

.arrow {
  background: url("../images/arrow2.png");
  height: 9px;
  width: 13px; }

.clear {
  clear: both; }

.wrapper2 {
  width: 210px;
  padding: 20px 25px 15px 25px;
  background: url("../images/lineY.png") no-repeat right center;
  float: left; }

.wrapper2 h2 {
  font: 16pt/16pt MyriadProRegular;
  color: #093500;
  padding-bottom: 15px; }

.wrapper2 h3 {
  font: 10pt/10pt bold Tahoma;
  color: #80a60f;
  padding-top: 3px; }

.wrapper2 p {
  font: 7.5pt/7.5pt Tahoma;
  color: #093500;
  line-height: 140%;
  margin-bottom: 1em; }

.wrapper3 {
  padding: 18px 20px 22px 19px;
  float: left;
  width: 372px; }

.content3 {
  background: url("../images/lineX.png") no-repeat bottom center;
  height: 110px; }

.content3 img {
  float: left; }

.content3 h2 {
  font: 16pt/16pt MyriadProRegular;
  color: #093500;
  padding-left: 162px; }

.content3 h3 {
  font: 10pt/10pt bold Tahoma;
  color: #80a60f;
  padding-left: 162px;
  padding-top: 15px; }

.content3 p {
  font: 7.5pt/7.5pt Tahoma;
  color: #093500;
  line-height: 140%;
  padding-left: 162px; }

.content4 {
  padding-top: 17px;
  height: 116px; }

.content4 img {
  float: left; }

.content4 h2 {
  font: 16pt/16pt MyriadProRegular;
  color: #093500;
  padding-left: 162px; }

.content4 h3 {
  font: 10pt/10pt bold Tahoma;
  color: #80a60f;
  padding-left: 162px;
  padding-top: 15px; }

.content4 p {
  font: 7.5pt/7.5pt Tahoma;
  color: #093500;
  line-height: 140%;
  padding-left: 162px; }

footer {
  clear: both;
  background: url("../images/line_2px_5px.png") repeat-x top;
  height: 70px;
  font: 7.5pt/7.5pt Tahoma;
  color: #093500;
  line-height: 140%; }

footer p {
  padding-left: 25px;
  padding-top: 28px; }

/*# sourceMappingURL=screen.css.map */
